body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0;
    color: #333;
}
header{
    background-color: #000;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0%;
}

nav ul{
    list-style: none;
    padding: 0%;
}

nav ul li{
    display: inline;
    margin-right: 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

nav ul li a:hover{
    background-color: #f4f4f4;
    color: #333;
}

.hero{
    background-color: #eceaeaf5;
    text-align: center;
    padding: 100px 20px;

}

.hero h2{
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    background-color: #0212f7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.services{
    padding: 50px 20px;
    text-align: center;
}

.services-item{
    margin: 30px; 
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1px;
    margin: 0%;
    height: auto;
    font-size: small;
    background-size: 0.2px;

}